:root {
    --primary-color: #FFFAEF;
    --secundary-color: #4A44A3;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    padding: 0;
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    display: flex;
    height: 55px;
    background-color: white;
}

.primeiro {
    font-size: 32px;
    color: var(--secundary-color);
    font-family: "Kavoon", serif;
}

.segundo {
    font-size: 20px;
}

.terceiro {
    font-size: 15px;
}

main {
    flex-grow: 1;
    display: flex;
}

h1 {
    font-size: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.left {
    flex: 1;
    background-color: var(--secundary-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    left: 50px;
    top: 50px;
}

.right {
    flex: 1;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #e58a3a;
    color: #fff;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #cf7b33;
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 28px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-outline:hover {
    background-color: #fff;
    color: var(--secundary-color);
    transform: translateY(-2px);
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.botao{
    position: absolute;
    top: 55px;
    right: 825px;
}

.pata1{
    position: absolute;
    top: 750px;
    right: 840px;

}

.pata2{
    position: absolute;
    top: 70px;
    left: 10px;
}

.pata3{
    position: absolute;
    top: 720px;
    left: 20px;
}

.pata4{
    position: absolute;
    top: 170px;
    right: 860px;
}

.descricao {
    background-color: var(--secundary-color);
    padding-top: 5%;
    justify-self: auto;
}